body {background-color: #383D58;
color:blanchedalmond;
}
<title>document</title>
 <link rei="stylesheet" href="style.css"
 <h1>vai ser uma imagem aqui</h1>
 <ul>
 <li>estudante</li>
 <li>escola</li>
 </ul>
 .cabecalho {
    background-color: #383D58;
    color: white;
    }color: white;
    display:flex;
    }display:flex;
    justify-content: space-around;
    }
    <section class=”escola”>
<h2 class=”escola-titulo”>Sobre a Escola</h2>
<p class=”escola-texto-um”></p>
<p class=”escola-texto-dois”></p>
</section>